*,body,html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

/* Color Options */
    :root {
        --primary: #000000;
        --primary20: #00000033;
        --primary40: #00000066;
        --primary60: #00000099;
        --primary80: #000000CC;
        --primary90: #000000DF;
        --secondary: #FFFFFF;
        --gray: #191919;
        --secondary2: #EAEAEACC;
        --gray2: #272829;
    }
/* Color Options End*/

/* Main Screen */
body{
    color: var(--secondary);
    background-color: var(--primary90);
    height: auto;
}

/* Header Style */
    header
    {
        font-weight: 750;
        height: 10vh;
        width: 95vw;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: var(--secondary);
        border-bottom: 4px solid var(--primary20);
        border-right: 4px solid var(--primary20);
        font-size: 1.3em;
        margin-top: 20px;

        border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        -ms-border-radius: 40px 40px 40px 40px;
        -o-border-radius: 40px 40px 40px 40px;

}

    header p, article, nav ul
    {
        width: 30vw;

    }
    article
    {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--primary);
    }

    a
    {
        color: var(--primary80);
        text-decoration: none;
        cursor: pointer;
        transition: 1s ease-in-out ;
        -webkit-transition: 1s ease-in-out ;
        -moz-transition: 1s ease-in-out ;
        -ms-transition: 1s ease-in-out ;
        -o-transition: 1s ease-in-out ;

    }
    a:hover
    {
        transition: ease-in-out;
        -webkit-transition: ease-in-out;
        -moz-transition: ease-in-out;
        -ms-transition: ease-in-out;
        -o-transition: ease-in-out;
        transition-duration: 1s;
        font-size: .75rem;
        color: var(--primary);
    }
    nav
    {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 30vw;
        padding: 10px;
    }
    nav ul
    {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 10px;
        justify-content: end;
    }
/* Header Style end */

/* Section Style */
    section
    {
        width: 90vw;
        height: auto;
        margin: 2vh auto;
        border-bottom: 4px solid var(--primary20);
        border-right: 4px solid var(--primary20);
        background: #fff;
        margin-top: 2px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    h3
    {
        margin-top: 10px;
        width: 85vw;
        padding: 10px;
        display: flex;
    }
    span
    {
        padding: 5px 10px 7px 7px;
        padding-left: 7px;
        font-size: .85rem;
        background-color: #fff;
        border-bottom: 3px solid var(--primary20);
        border-right: 3px solid var(--primary20);
        font-size: .75rem;
        color: var(--primary);
        border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -ms-border-radius: 20px 20px 20px 20px;
        -o-border-radius: 20px 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}
    .boxlist
    {
        width: 85vw;
        min-height: 50px;
        height: auto;
        padding: 15px;
        margin: 10px auto;
        display: flex;
        border-radius: 15px;
        background-color: var(--primary20);
        color: var(--primary80);
    }
    .articlebox
    {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .checkbox{
        width: auto;
        height: 20px;
        display: flex;
        flex-direction: column;
    }
    .buttun, .bittin
    {
        flex: 1;
        display: flex;
    }
    .bittin 
    {
        justify-content: end;
    }
    .apaantuch
    {
        padding-right: 5px;
    }
    .urgent, .basic
    {
        font-weight: 900;
        color: var(--primary);
        flex: 1;
    }
    .basic
    {
        color: var(--primary60);
    }
    .uppersz
    {
        display: flex;
        flex-direction: row;
    }
    .tangglan
    {
        display: flex;
        flex: 1;
        justify-content: end;
        padding-right: 10px;
    }
    .header-list
    {
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .ceklis
    {
        height: 20px;
        width: 20px;
        background-color: var(--primary90);
        border: 2px solid black;
        color: var(--secondary);
        border-radius: 5px;
        font-size: .5em;
    }
    .warn
    {
        border: 2px solid black;
        color: var(--secondary);
        height: 20px;
        width: 20px;
        background-color: var(--primary90);
        border-radius: 5px;
        font-size: .5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .eak
    {
        display: flex; gap: 5px; justify-content: end; align-items: center; flex: 1; margin-right: 5px; margin-top: 2px;
    }
    h4
    {
        font-size: .75rem;
        margin-top: 5.7px;
        color: var(--primary);
        font-weight: 900;
    }
/* Section Style End */

/* Footer Style Start */
    footer
    {
            position: fixed;
            width: 55px;
            height: 55px;
            padding: 15px;
            background-color: #EAEAEA;
            color: var(--primary);
            bottom: 0;
            right: 0;
            margin-right: 10px;
            margin-bottom: 20px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            display: flex;
            justify-content: center;
            font-size: 1em;
            align-items: center;
            font-weight: 900;
}
/* Footer Style End */

/* Pop Up Tambah data */
.tambah
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #000000DD;
    backdrop-filter: blur(1px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxtambah
{
    width: 90vw;
    height: auto;
    margin: 0 auto;
    border-bottom: 3px solid var(--primary40);
    border-right: 3px solid var(--primary40);
    background: #fff;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
}
.headtambah
{
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
    color: var(--secondary);
    font-size: .6rem;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    border-top: none;
    border-left: none;
    background-color: var(--primary);
}
.boxlisttambah
    {
        width: 85vw;
        min-height: 50px;
        height: auto;
        padding: 15px;
        margin: 10px auto;
        display: flex;
        border-radius: 15px;
        background-color: var(--primary20);
        color: var(--primary80);
    }

    .articleboxtambah
    {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .checkbox{
        width: auto;
        height: 20px;
        display: flex;
        flex-direction: column;
    }
    .uppersztambah
    {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    .tangglan
    {
        display: flex;
        flex: 1;
        justify-content: end;
        padding-right: 10px;
    }
    .header-list
    {
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .buttun, .bittin
    {
        flex: 1;
        display: flex;
    }
    .bittin 
    {
        justify-content: end;
    }
    .apaantuch
    {
        padding-right: 5px;
    }
    .urgent, .basic
    {
        font-weight: 700;
        color: var(--primary);
        flex: 1;
    }
    .basic
    {
        color: var(--primary60);
    }
    .ceklis
    {
        height: 20px;
        width: 20px;
        background-color: var(--primary90);
        border: 2px solid black;
        color: var(--secondary);
        border-radius: 5px;
        font-size: .5em;
    }
    .warning
    {
        border: none;
        color: var(--secondary);
        background-color: #000000;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        font-size: .5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .eak
    {
        display: flex; gap: 5px; justify-content: end; align-items: center; flex: 1; margin-right: 5px; margin-top: 2px;
    }
    h4
    {
        font-size: .75rem;
        margin-top: 5.7px;
        color: var(--primary);
        font-weight: 900;
    }
    
/* Pop Up Tambah dataEnd */

.anjas
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.mabar
{
    display: flex;
    flex: 3;
    flex-wrap:wrap;
    flex-flow: column;
}
.rum
{
    height: 75px; display: flex; flex-direction: column-reverse;
}
.raszkung
{
    height: 15px; width: 100%; display: flex; justify-content: center; text-align: center; background-color: #fff; color: #000000DD;
}

/* Main Screen End*/


/* Media Screen */
    @media screen and (max-width: 516px) 
    {
        header p, header article, header nav ul li
        {
            font-size: .75em;
        }
        a {
            font-size: .85em;
        }
        a:hover{
            font-size: 1em;
        }
        .eak{
            justify-content: end;
        }
    }

    @media screen and (min-width: 1000px)
    {
        .mangeak 
        {
            width: 50vw;
            margin: 0 auto;
            border: 4px solid var(--secondary);
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
}
        header
        {
            width: 47.5vw;
        }

        article, header p, nav
        {
            width: 15vw;
        }

        section
        {
            width: 45vw;
        }
        h3
        {
            width: 47.5vw;
            margin: 0 auto;
            margin-top: 10px;
            
        }
        a:hover
        {
            font-size: 1.5rem;
        }
        .boxlist
        {
            width: 42.5vw;
        }
        .articlebox
        {
            width: 40vw;
        }
        .rum
        {
            height: 20px;
        }
        .raszkung
        {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
}
    }
/* Media Screen End*/